<div class="header">
    <h1>About</h1>
</div>
<div class="content">
    <p>
        IOP4, <i>the Interactive Photo-Polarimetric Python Pipeline</i>. 
        Check <a href="https://github.com/juanep97/iop4">the code in GitHub</a>. 
        Documentation can be found at <a href="https://vhega.iaa.es/iop4/docs/">the VHEGA site</a>.
    </p>

    <p>
        The test dataset can be downloaded at <a href="https://vhega.iaa.es/iop4/iop4testdata.tar.gz">this link</a>.
    
    <br>
    <p>Created by Juan Escudero Pedrosa for the VHEGA@IAA-CSIC group.</p>

</div>
<div class="header">
</div>